{% extends "base.html" %}
{% block title %} home {% endblock %}

{% block content %}
  <!-- Preload the Whole Page -->
  <div id="preloader">      
    <div id="loading-animation">&nbsp;</div>
  </div>

 
  <div id="wrapper">
  <!-- Hero
  ================================================== -->
    <section>
      <div id="hero-section" class="landing-hero" data-stellar-background-ratio="0">
        <div class="hero-content">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">

                <div class="hero-text">
                  <div class="herolider">
                    <ul class="caption-slides">

                      <li class="caption">
                        <h1>A Legacy of Quality</h1>
                        <div class="div-line"></div>
                        <p class="hero">Branding, Photography &amp; Web Development</p>
                      </li>

                      <li class="caption">
                        <h1>RESPONSIVE TEMPLATES</h1>
                        <div class="div-line"></div>
                        <p class="hero">Design &amp; Development</p>
                      </li>

                      <li class="caption">
                        <h1>HIGH QUALITY CODE</h1>
                        <div class="div-line"></div>
                        <p class="hero">HTML5 &amp; CSS3</p>
                      </li>

                    </ul>
                  </div> <!-- end herolider -->
                </div> <!-- end hero-text -->

                <div class="hero-btn">
                  <a href="{{ url_for('services') }}" class="btn btn-clean">Read more</a>
                </div> <!-- end hero-btn -->

              </div> <!-- end col-md-6 -->
            </div> <!-- end row -->
          </div> <!-- End container -->
        </div> <!-- End hero-content -->
      </div> <!-- End hero-section -->
    </section>
    <!-- End hero section -->


    


      <!-- Clients-section
    ================================================== -->
    <section>
      <div id="clients-section" class="clients-bg" data-stellar-background-ratio="0">
        <div class="container">
          <div class="row">
             
             <!-- client -->
            <div class="col-xs-4 col-sm-2">
              <div class="client">
                <a href="#"><img src="static/images/clients/client_1.png" alt=""></a>
              </div>
            </div> <!-- end col-xs-6 -->

             <!-- client -->
            <div class="col-xs-4 col-sm-2">
              <div class="client">
                <a href="#"><img src="static/images/clients/client_2.png" alt=""></a>
              </div>
            </div> <!-- end col-xs-6 -->

             <!-- client -->
            <div class="col-xs-4 col-sm-2">
              <div class="client">
                <a href="#"><img src="static/images/clients/client_3.png" alt=""></a>
              </div>
            </div> <!-- end col-xs-6 -->

             <!-- client -->
            <div class="col-xs-4 col-sm-2">
              <div class="client">
                <a href="#"><img src="static/images/clients/client_4.png" alt=""></a>
              </div>
            </div> <!-- end col-xs-6 -->

             <!-- client -->
            <div class="col-xs-4 col-sm-2">
              <div class="client">
                <a href="#"><img src="static/images/clients/client_1.png" alt=""></a>
              </div>
            </div> <!-- end col-xs-6 -->

             <!-- client -->
            <div class="col-xs-4 col-sm-2">
              <div class="client">
                <a href="#"><img src="static/images/clients/client_2.png" alt=""></a>
              </div>
            </div> <!-- end col-xs-6 -->

          </div> <!-- End row -->
        </div> <!-- End container -->
      </div> 
    </section>
    <!-- End clients-section -->


  
    <section>
      <div class="sep-section"></div>
    </section>

      <!-- Testimonial
      ================================================== -->      
      <section>
        <div id="testimonials-section">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                <div class="testimonials-carousel">

                  <ul class="testimonials-slider">
                    
                    <!-- Testimonial -->
                    <li>
                      <img src="static/images/temp/client-photo.jpg" alt="">
                      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere.</p>
                      <div class="testimonials-author"> ClasDesign - Front End Developer </div>
                    </li>
                    
                    <!-- Testimonial -->
                    <li>
                      <img src="static/images/temp/client-photo.jpg" alt="">
                      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere <a href="#">http://goo.gl/1OhxkS</a>.</p>
                      <div class="testimonials-author">John Doe -  Web Developer</div>
                    </li>
                    
                    <!-- Testimonial -->
                    <li>
                      <img src="static/images/temp/client-photo.jpg" alt="">
                      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusultricies porta posuere. <a href="#">http://goo.gl/1OhxkS</a>.</p>
                      <div class="testimonials-author">John Doe - Web Designer</div>
                    </li>

                  </ul>

                  <div class="tc-arrows">
                     <div class="tc-arrow-left"></div>
                     <div class="tc-arrow-right"></div>
                  </div> <!-- end tc-arrows -->
                </div> <!-- end testimonials-carousel -->

              </div> <!-- end col-md-8 -->
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div>
      </section>
      <!-- end testimonial section -->

    <section>
      <div class="sep-section"></div>
    </section>

    <!-- Google map
    ================================================== -->
    <section>
      <div id="module-maps">
        <div id="map"></div>
      </div>
    </section>
    <!-- End Google map -->

   
  <div class="back-to-top">
    <i class="fa fa-angle-up fa-3x"></i>
  </div> <!-- end back-to-top -->

 {% endblock %}
 
</body>
</html>